/*
==================== Colors ===================
*/
$color-white: #ffffff;
$color-dark: #000;
$color-gray: #999999;
$color-light-green: #FAFFFD;
$color-pink: #DA0175;
$color-green: #0E8750;
$color-fade-gray:#645c5c17;

/*
==================== Responsive Breakpoints ====================
*/
$desktop: 1280px;
$tablet-large: 1024px;
$tablet: 768px;
$mobile-large: 435px;
$mobile-medium: 375px;
$mobile-small: 320px;
